pip>=21.1.2
wheel==0.38.1
twine==1.13.0
-r requirements.txt
python-dateutil>=2.7.3  # only for testing
docutils<0.17  # compat issue with sphinx I think
ipython>=7.24.1
sphinx
sphinx-rtd-theme>=0.5.2
sphinx-autosummary-accessors>=0.2
-r requirements_extras.txt